.title{
	margin-top: 30px;
	text-align: center;
	font-size: 3em;
}
.text{
	text-align: center;
	margin-top: 20px;
	font-size: 1.5em;
}
.drop{
	text-align: right;
	font-size: 1.2em;
	margin-top: 10px;
	color: rgba($color: deeppink, $alpha: .8);
}
@media (max-width: 800px) {
	.title{
		font-size: 2.3em;
	}
	.text{
		font-size: 1.3em;
	}
	.drop{
		font-size: 1em;
	}
}
@media (max-width: 350px) {
	.title{
		font-size: 2em;
	}
	.text{
		font-size: 1.2em;
	}
	.drop{
		font-size: 1em;
	}
}