*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	background: #000;
	color: white;
	// overflow: hidden;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}

@media (max-width: 1250px) {
	.wrapper{
		max-width: 950px;
		margin: 0 auto;
	}
}

@media (max-width: 1000px) {
	.wrapper{
		max-width: 750px;
		margin: 0 auto;
	}
}
@media (max-width: 800px) {
	.wrapper{
		max-width: 550px;
		margin: 0 auto;
	}
}
@media (max-width: 600px) {
	.wrapper{
		max-width: 400px;
		margin: 0 auto;
	}
}
@media (max-width: 420px) {
	.wrapper{
		max-width: 330px;
		margin: 0 auto;
	}
}
@media (max-width: 350px) {
	.wrapper{
		max-width: 280px;
		margin: 0 auto;
	}
}
@media (max-width: 300px) {
	.wrapper{
		max-width: 80%;
		margin: 0 auto;
	}
}